/* styles a border above and below the nav bar */
#nav_menu ul {
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    font-family: sans-serif;  
}

/* makes the nav bar horizontal */
#nav_menu ul li {
    display: inline;
    padding: 0 1.5em;
}

/* changes the color of the links in the nav bar */
#nav_menu ul li a {
    font-weight: bold;
    color: #374151;
    text-decoration: none;
}

/* removes the text decoration from the list items */
#nav_menu ul li a.current {
    text-decoration: none;
}
/* Conditional CSS for the hover state */
a:hover {
    font-style: italic;
    color: black;
}

/* Adds styling to the logo at the top of page */
.header-logo {
    width: 35%;
    padding-left: .5em;
    padding-top: .5em;
    
}

/* Adds a color and border to the header section */
header {
    background-color: #FFEBCD; 
    border-bottom: 2px solid #374151;
    border-radius: 10px;
}

/* changes the background color of the entire screen */
html {
    background-color: aliceblue;
    
}

/* selects all */
* {
    
    
}

.h2title {
    font-family: sans-serif;
    text-indent: 10px;
    padding-bottom: 1.5em;
    padding-top: 1em;
    margin: 10px;
    border: 2px solid #374151;
    border-radius: 25px;
    width: 20%;
    background-color: #FFEBCD;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

/* Adds styling to the footer section */
footer {
    text-align: left;
    float: none;
    font-family: sans-serif;
    width: 100%;
    background-color: #FFEBCD;
    border-top: 2px solid #374151;
    border-radius: 10px;
}

/* Changes font and adds padding to the paragraphs */
p {
    font-family: sans-serif;
    padding: .5em .5em .5em .5em;
}

/* Floats the links and removes the underline */
#nav_menu {
    float: right;
    text-decoration: none;
}
 

article h2 {
    column-span: all;
    margin-left: 15px;
}

article img {
    border: 2px solid #374151;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* Changes the font of the list elements */
aside ul li {
    font-family: sans-serif;
}

/* changes font size and family for the header in the aside section */
aside h3 {
    font-size: 140%;
    font-family: sans-serif;
}
/* containerizes the main element and centers it */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* styles the column 1 on the index page */
.column_1 {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    width: 33%;
    height: 100%;
    padding: 32px;
}

/* styles the 2nd column on the index page */
.column_2 {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    width: 33%;
    height: 100%;
    padding: 32px;
}

/* styles the 3rd column on the index page */
.column_3 {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    width: 33%;
    height: 100%;
    padding: 32px;
    background-color: #FFEBCD;
    border-radius: 10px;
}

/* adds a border around the image on the index page */
.img-align-style {
    border-radius: 10px;
}

/* adds a border shadow and box around the body of the page */
body {
    background-color: whitesmoke;
    border-radius: 25px;
}

/* adds space around the header */
.revheader {
    padding: .5em;
    font-family: sans-serif;
}

/* styles the first review box */
.iphoner1 {
    border: 2px solid #374151;
    padding: 1em 1em;
    background-color: lightcoral;
    width: 75%;
    margin-bottom: 1em;
    border-radius: 25px;
    margin-left: .5em;
    font-family: sans-serif;
}

/*changes the star colors to black */
span {
    color: black;
    padding-top: .5em;
}

/* adds space above the h5 header */
div h5 {
    padding-top: .5em;
    font-family: sans-serif;
}

/* adds space above the h4 headers */
div h4 {
    padding-top: .5em;
    font-family: sans-serif;
}

/* adds space above the review paragraphs */
div p {
    padding-top: .5em;
}

/* stlyes the 2nd review box */
.iphoner2 {
    border: 2px solid #374151;
    padding: 1em 1em;
    background-color: lightcoral;
    border-right: none;
    margin-bottom: 1em;
    width: 70%;
    border-right: 2px solid #374151;
    margin-left: .5em;
    border-radius: 25px;
    font-family: sans-serif;
}

/* styles the 3rd review box */
.iphoner3 {
    border: 2px solid #374151;
    padding: 1em 1em;
    background-color: lightcoral;
    border-right: none;
    margin-bottom: 1em;
    width: 75%;
    border-right: 2px solid #374151;
    margin-left: .5em;
    border-radius: 25px;
    font-family: sans-serif;
}

/* styles the 4th review box */
.iphoner4 {
    border: 2px solid #374151;
    padding: 1em 1em;
    background-color: lightcoral;
    border-right: none;
    margin-bottom: 1em;
    width: 70%;
    border-right: 2px solid #374151;
    margin-left: .5em;
    border-radius: 25px;
    font-family: sans-serif;
}

/* styles the 5th review box */
.iphoner5 {
    border: 2px solid #374151;
    padding: 1em 1em;
    background-color: lightcoral;
    border-right: none;
    border-bottom: 2px solid #374151;
    margin-bottom: 1em;
    width: 75%;
    border-right: 2px solid #374151;
    margin-left: .5em;
    border-radius: 25px;
    font-family: sans-serif;
}

/* stlyes every other review box on xbox review page */
.xboxr1 {
    border: 2px solid #374151;
    padding: 1em 1em;
    background-color: #377625;
    border-right: none;
    border-bottom: 2px solid #374151;
    margin-bottom: 1em;
    width: 75%;
    border-right: 2px solid #374151;
    margin-left: .5em;
    border-radius: 25px;
    font-family: sans-serif;

}

/* stlyes every other review box on xbox review page */
.xboxr2 {
    border: 2px solid #374151;
    padding: 1em 1em;
    background-color: #377625;
    border-right: none;
    border-bottom: 2px solid #374151;
    margin-bottom: 1em;
    width: 70%;
    border-right: 2px solid #374151;
    margin-left: .5em;
    border-radius: 25px;
    font-family: sans-serif;
}

/* stlyes every other review box on xbox review page */
.psr1 {
    border: 2px solid #374151;
    padding: 1em 1em;
    background-color: #004197;
    border-right: none;
    border-bottom: 2px solid #374151;
    margin-bottom: 1em;
    width: 75%;
    border-right: 2px solid #374151;
    margin-left: .5em;
    border-radius: 25px;
    font-family: sans-serif;

}

/* stlyes every other review box on xbox review page */
.psr2 {
    border: 2px solid #374151;
    padding: 1em 1em;
    background-color: #004197;
    border-right: none;
    border-bottom: 2px solid #374151;
    margin-bottom: 1em;
    width: 70%;
    border-right: 2px solid #374151;
    margin-left: .5em;
    border-radius: 25px;
    font-family: sans-serif;
}

/* styles the individual form elements */
.input1 {
    margin: .2em .2em .2em .2em;
}

/* styles the form with a border and background color */
.forms {
    border: 2px solid #374151;
    background-color: blanchedalmond;
    margin: 10px 10px 10px 10px;
}

/* floats the company logos on the review pages */
.imgfloat {
    float: right;
}

/* removes the margin from paragraphs */
.as {
    margin: 0; 
}

/* adds a margin around the buttons */
.button {
    margin: 5px 5px 5px 5px;
}

/* changes font family */
p, h3, h4 {
    font-family: sans-serif;
}

