/* styles a border above and below the nav bar */
#nav_menu ul {
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
    font-family: sans-serif;  
}

/* makes the nav bar horizontal */
#nav_menu ul li {
    display: inline;
    padding: 0 1.5em;
}

/* changes the color of the links in the nav bar */
#nav_menu ul li a {
    font-weight: bold;
    color: #374151;
    text-decoration: none;
}

/* removes the text decoration from the list items */
#nav_menu ul li a.current {
    text-decoration: none;
}
/* Conditional CSS for the hover state */
a:hover {
    font-style: italic;
    color: black;
}

/* Adds styling to the logo at the top of page */
.header-logo {
    width: 35%;
    padding-left: .5em;
    padding-top: .5em;
    
}

/* Adds a color and border to the header section */
header {
    background-color: blanchedalmond; 
    border-bottom: 2px solid #374151;
}

/* changes the background color of the entire screen */
html {
    border: 3px solid #374151 ;
    background-color: aliceblue;
    
}

/* selects all */
* {
    margin: 0;
    padding: 0;
}


.h2title {
    font-family: sans-serif;
    text-indent: 10px;
    padding-bottom: 1.5em;
    padding-top: 1em;
    margin: 10px;
    border: 2px solid #374151;
    border-radius: 25px;
    width: 20%;
    background-color: blanchedalmond;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

/* Adds styling to the footer section */
footer {
    text-align: left;
    float: none;
    font-family: sans-serif;
    background-color: #FFEBCD;
    border-top: 2px solid #374151;
}

/* Changes font and adds padding to the paragraphs */
p {
    font-family: sans-serif;
    padding: .5em .5em .5em .5em;
}

/* Floats the links and removes the underline */
#nav_menu {
    float: right;
    text-decoration: none;
}
/*
article {
    width: 50%;
    column-count: 3;
    column-gap: 3px;
    margin-top: 1.5em;
    

}
*/
article h2 {
    column-span: all;
    margin-left: 15px;
}

article img {
    border: 2px solid #374151;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}
/*
aside {
    
    border: 2px solid #374151;
    padding: 1.5em 1.5em;
    background-color: blanchedalmond;
    
}
*/
/* Changes the font of the list elements */
aside ul li {
    font-family: sans-serif;
}

/* changes font size and family for the header in the aside section */
aside h3 {
    font-size: 140%;
    font-family: sans-serif;
}

.adad {
    width: 33%;
    display: flex;
}

.adadd {
    width: 33%;
    float: right;
    display: flex;
}

.adaddd {
    float: right;
    width: 33%;
    display: flex;
}


/* adds a border shadow and box around the body of the page */
body {
    background-color: whitesmoke;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
}

/* adds space around the header */
.revheader {
    padding: .5em;
    font-family: sans-serif;
}

/* styles the first review box */
.iphoner1 {
    border: 2px solid #374151;
    padding: 1em 1em;
    background-color: lightcoral;
    width: 75%;
    margin-bottom: 1em;
    border-radius: 25px;
    margin-left: .5em;
    font-family: sans-serif;
}

/*changes the star colors to black */
span {
    color: black;
    padding-top: .5em;
}

/* adds space above the h5 header */
div h5 {
    padding-top: .5em;
    font-family: sans-serif;
}

/* adds space above the h4 headers */
div h4 {
    padding-top: .5em;
    font-family: sans-serif;
}

/* adds space above the review paragraphs */
div p {
    padding-top: .5em;
}

/* stlyes the 2nd review box */
.iphoner2 {
    border: 2px solid #374151;
    padding: 1em 1em;
    background-color: lightcoral;
    border-right: none;
    margin-bottom: 1em;
    width: 70%;
    border-right: 2px solid #374151;
    margin-left: .5em;
    border-radius: 25px;
    font-family: sans-serif;
}

/* styles the 3rd review box */
.iphoner3 {
    border: 2px solid #374151;
    padding: 1em 1em;
    background-color: lightcoral;
    border-right: none;
    margin-bottom: 1em;
    width: 75%;
    border-right: 2px solid #374151;
    margin-left: .5em;
    border-radius: 25px;
    font-family: sans-serif;
}

/* styles the 4th review box */
.iphoner4 {
    border: 2px solid #374151;
    padding: 1em 1em;
    background-color: lightcoral;
    border-right: none;
    margin-bottom: 1em;
    width: 70%;
    border-right: 2px solid #374151;
    margin-left: .5em;
    border-radius: 25px;
    font-family: sans-serif;
}

/* styles the 5th review box */
.iphoner5 {
    border: 2px solid #374151;
    padding: 1em 1em;
    background-color: lightcoral;
    border-right: none;
    border-bottom: 2px solid #374151;
    margin-bottom: 1em;
    width: 75%;
    border-right: 2px solid #374151;
    margin-left: .5em;
    border-radius: 25px;
    font-family: sans-serif;
}
